:root {
  --stack-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  color: var(--error-text-color);
  background-color: var(--error-bg-color);
}

header > h1 {
  padding: 4px 8px;
  font-weight: 700;
  font-size: 1.2rem;
}

nav {
  padding: 4px;
  display: flex;
}

nav > button {
  border: 0;
  margin: 4px;
  padding: 8px;
  flex: 1 1 auto;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
}

main {
  padding: 8px;
  flex: 1 1 auto;
  overflow: auto;
}

#errors .message {
  padding-left: 6px;
  font-size: 1.2rem;
  margin-bottom: 8px;
  border-left: 2px var(--error-bg-color) solid;
}

#errors .stack {
  padding: 8px;
  overflow: auto;
  border-radius: 6px;
  margin-bottom: 16px;
  background-color: var(--stack-bg-color);
}
