:root {
  --titlebar-height: 30px;

  --dark-color: #18181b;
  --light-color: #f7f7f7;

  --error-bg-color: #90110d;
  --error-text-color: var(--light-color);
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  color: var(--light-color);
  overflow: hidden !important;
  background-color: var(--dark-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.theme--light body {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.bg-primary {
  @apply bg-primary-dark;
}
.theme--light .bg-primary {
  @apply bg-primary-light;
}

.bg-secondary {
  @apply bg-secondary-dark;
}
.theme--light .bg-secondary {
  @apply bg-secondary-light;
}

.bg-danger {
  @apply bg-danger-dark;
}
.theme--light .bg-danger {
  @apply bg-danger-light;
}
