:root {
  --dark-color: #0e0e10;
  --light-color: #f7f7f7;

  --scrollbar-width: 18px;
  --scrollbar-thumb-radius: 8px;

  --scrollbar-track-dark-color: var(--dark-color);
  --scrollbar-thumb-dark-color: rgba(255, 255, 255, 0.1);

  --scrollbar-track-light-color: var(--light-color);
  --scrollbar-thumb-light-color: rgba(0, 0, 0, 0.2);
}

.auth-window-header {
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  position: absolute;
  -webkit-app-region: drag;
}

.theme--dark #kraken_auth {
  background-color: var(--dark-color) !important;
}

.theme--dark #kraken_auth .authorize .wrap {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width) !important;
  height: var(--scrollbar-width) !important;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-dark-color);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-radius);
  background-color: var(--scrollbar-track-dark-color);
  border: 5px var(--scrollbar-track-dark-color) solid;
  box-shadow: inset 0 0 1px 1px var(--scrollbar-thumb-dark-color);
}

.theme--light ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-light-color);
}

.theme--light ::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-radius);
  background-color: var(--scrollbar-track-light-color);
  border: 5px var(--scrollbar-track-light-color) solid;
  box-shadow: inset 0 0 1px 1px var(--scrollbar-thumb-light-color);
}

#root > div.tw-top-0 {
  top: 40px !important;
}

.authorize {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 30px;
  overflow: auto !important;
}

.authorize .wrap {
  margin-top: 0 !important;
}

#app-titlebar {
  font-size: 16px;
  position: absolute;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app-titlebar > div {
  padding: 8px;
}

#app-titlebar .title {
  flex: 1 1 auto;
}

#app-titlebar .icon img {
  height: 16px;
}

#app-titlebar .close {
  cursor: pointer;
}

#app-titlebar .close:hover {
  background-color: red;
}
