/*
  .svlt-grid-container
  .svlt-grid-item
  .svlt-grid-shadow
  .svlt-grid-resizer
  .svlt-grid-resizer::after
  .svlt-grid-transition
*/

.svlt-grid-container {
  margin: 0.25rem;
  margin-top: 0;
}

.svlt-grid-item {
  background-color: #333;
}

.svlt-grid-resizer::after {
  border-right-color: rgba(255, 255, 255, 0.1) !important;
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

.svlt-grid-shadow {
  background: rgba(0, 0, 0, 0.2);
  border: 1px rgba(255, 255, 255, 0.1) dotted;
}
